<div class="container-jumbotron">
<div style="text-align:center" >
  <h1>
    *QUOTES*
  </h1>
</div>
<p>Challange! __Inspiration quotes do you have?__
</div>
<app-quote-form (emitQuote)="publishQuote($event)"></app-quote-form>
<ul>
 <div *ngFor='let quote of quotes; let i = index'>
   <app-quote-details [quote]="quote"></app-quote-details>
    <button class="btn-info" [value]="btnText" (click)="upvote(i)">upvote</button>
    <button class="btn-primary" [value]="btnText" (click)="downvote(i)">downvote</button>
    <button class="btn-danger" [value]="btnText" (click)="delete(i)">delete</button>
  </div>
</ul>
