<div class="container color-dark">
<div class="container-form">
  <div class="col">
    <p>Add your Quote</p>
  </div>
  <div class="col">
    <p>Your quotes count</p>
  </div>
  </div>
    <div class="container color-light">
      <p>Use tfhis form to add your Quotes:</p>
    <form>
      <div class="col-md">
      <div class="form-group">
        <label for="formGroupYourName">Name</label>
        <input type="text" class="form-control" id="formYourNameInput" placeholder=" Name">
      </div><br>
      <div class="form-group">
        <label for="formGroupDescription">Quote</label>
        <input type="text" class="form-control" id="formDescriptionInput2" placeholder="Description">
      </div><br>
      <div class="form-group">
        <label for="formGroupAuthor">Author</label>
        <input type="text"  class="form-control" id="formAuthorInput2" placeholder="Author">
      </div>
      <br>
      <button type="submit" class="btn btn-submit mb-2" [value]="btnSubmit">Submit</button>
      <button >like</button>
      <button >Dislike</button>
      </div>
      <div class="col-md">
      

    </form>
  </div>
</div>