<div class="container dark">
      <p>Add Quotes</p>
    
</div>

<div class="container light">
  <p>Use this form to add your Quotes</p>

  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="col-md-4">
      <label for="Name">Name :</label>
      <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="nameText"style=width:50%;>
    </div><br>
    <div class="col-md-4">
      <label for="description">Quote :</label>
       <input type="text" class="form-control" name="quote" placeholder="Quote" [(ngModel)]="quoteText"style=width:50%;>
    </div><br>
    <div class="col-md-4">
      <label for="Author">Author</label>
      <input type="text" class="form-control" name="item" placeholder="Author" [(ngModel)]="authorText"style=width:50%;>
    </div><br>
    <button type="text" class="btn-success" [value]="btnText">submit</button>
      </form>
            
</div>
